{
  "extends": [
    "react-app"
  ],
  "rules": {
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "warn",
      "always"
    ],
    "indent": [
      "warn",
      4
    ],
    "object-curly-spacing": [
      "warn",
      "never"
    ],
    "import/first": "off",
    "import/no-anonymous-default-export": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-useless-escape": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
