@font-face {
  font-family: "iconfont"; /* Project id 1958617 */
  src: url('iconfont.woff2?t=1642331775477') format('woff2'),
       url('iconfont.woff?t=1642331775477') format('woff'),
       url('iconfont.ttf?t=1642331775477') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-download:before {
  content: "\e6ce";
}

.icon-file-zip-fill:before {
  content: "\e859";
}

.icon-italic:before {
  content: "\e702";
}

.icon-link:before {
  content: "\e7e2";
}

.icon-font-color:before {
  content: "\e736";
}

.icon-h2:before {
  content: "\e621";
}

.icon-bold:before {
  content: "\e68b";
}

.icon-h3:before {
  content: "\e733";
}

.icon-h1:before {
  content: "\e6f5";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-dash:before {
  content: "\e63a";
}

.icon-activity:before {
  content: "\e600";
}

.icon-cart-clothe:before {
  content: "\e608";
}

.icon-ad:before {
  content: "\e69f";
}

.icon-bulletin:before {
  content: "\e666";
}

.icon-locale-en-us:before {
  content: "\e604";
}

.icon-download:before {
  content: "\e606";
}

.icon-job:before {
  content: "\e65a";
}

.icon-print:before {
  content: "\eba0";
}

.icon-times-solid:before {
  content: "\e79f";
}

.icon-process:before {
  content: "\e627";
}

.icon-stop:before {
  content: "\e603";
}

.icon-zoom-in:before {
  content: "\e6a7";
}

.icon-history:before {
  content: "\e605";
}

.icon-adjustment:before {
  content: "\e6ff";
}

.icon-pay-credit-card:before {
  content: "\e79b";
}

.icon-undo-alt:before {
  content: "\e612";
}

.icon-sort-down:before {
  content: "\e818";
}

.icon-sort:before {
  content: "\e81c";
}

.icon-sort-up:before {
  content: "\e917";
}

.icon-file-upload:before {
  content: "\e806";
}

.icon-times-circle-alt:before {
  content: "\e769";
}

.icon-calendar-alt:before {
  content: "\e762";
}

.icon-minus-circle:before {
  content: "\e61f";
}

.icon-bar-code:before {
  content: "\e601";
}

.icon-bar-code-2:before {
  content: "\e60e";
}

.icon-plus:before {
  content: "\e907";
}

.icon-redo:before {
  content: "\e780";
}

.icon-paper-plane:before {
  content: "\e856";
}

.icon-comment-lines:before {
  content: "\e730";
}

.icon-spider-solid:before {
  content: "\e774";
}

.icon-bear-smile-line:before {
  content: "\ec96";
}

.icon-comment-alt-lines:before {
  content: "\e607";
}

.icon-comments-alt-lines:before {
  content: "\e691";
}

.icon-sign-out:before {
  content: "\e6be";
}

.icon-control:before {
  content: "\e6e2";
}

.icon-member:before {
  content: "\e6e5";
}

.icon-angle-circle-top:before {
  content: "\e9d4";
}

.icon-search-no-result:before {
  content: "\e62c";
}

.icon-checked:before {
  content: "\e652";
}

.icon-sign-out-circle:before {
  content: "\e61e";
}

.icon-sad-tear:before {
  content: "\e758";
}

.icon-exclamation-circle:before {
  content: "\e609";
}

.icon-image-upload:before {
  content: "\e80e";
}

.icon-tags:before {
  content: "\e706";
}

.icon-dollar-sign:before {
  content: "\e61d";
}

.icon-deposit:before {
  content: "\e619";
}

.icon-rss:before {
  content: "\e690";
}

.icon-newspaper:before {
  content: "\e61c";
}

.icon-desktop:before {
  content: "\e641";
}

.icon-locked:before {
  content: "\e620";
}

.icon-line:before {
  content: "\e69d";
}

.icon-store:before {
  content: "\e61b";
}

.icon-question-circle:before {
  content: "\e763";
}

.icon-mobile:before {
  content: "\e60b";
}

.icon-heart:before {
  content: "\e63f";
}

.icon-comments:before {
  content: "\e67f";
}

.icon-edit:before {
  content: "\e63e";
}

.icon-caret-down:before {
  content: "\e623";
}

.icon-bell:before {
  content: "\e67e";
}

.icon-square-language:before {
  content: "\e61a";
}

.icon-globe:before {
  content: "\e65c";
}

.icon-mail-fill:before {
  content: "\e9de";
}

.icon-language:before {
  content: "\e60c";
}

.icon-cog:before {
  content: "\e6b8";
}

.icon-power-off:before {
  content: "\e667";
}

.icon-align-center:before {
  content: "\e679";
}

.icon-envelope:before {
  content: "\e60f";
}

.icon-share-alt:before {
  content: "\e941";
}

.icon-th-large:before {
  content: "\e65d";
}

.icon-search:before {
  content: "\e611";
}

.icon-file-plus:before {
  content: "\e66f";
}

.icon-trash:before {
  content: "\e66e";
}

.icon-bell-alt:before {
  content: "\e640";
}

.icon-analytics:before {
  content: "\e63d";
}

.icon-facebook-messenger:before {
  content: "\e602";
}

.icon-coins:before {
  content: "\e735";
}

.icon-truck:before {
  content: "\ec01";
}

.icon-truck-alt:before {
  content: "\e6b5";
}

.icon-cart:before {
  content: "\e63b";
}

.icon-shopping-bag:before {
  content: "\e60a";
}

.icon-user-astronaut:before {
  content: "\e618";
}

.icon-user-circle:before {
  content: "\e68a";
}

.icon-home:before {
  content: "\ebc2";
}

.icon-box-filter:before {
  content: "\e707";
}

.icon-sliders-v:before {
  content: "\e639";
}

.icon-angle-left:before {
  content: "\e610";
}

