
#debug-textarea{
    position: fixed;
    bottom: 0;
    z-index: 99;
    display: flex;
    font-size: 10px;
    border: none;
    background: #1f1f1f;
    color: #ccb444;
    border-radius: 0;
    width: 100%;
    height: 400px;
}

.react-carousel__nav-icon{
    background: no-repeat center;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAQAAAAHUWYVAAACQklEQVR42u3dS44QZRiGURZH2AFzR62grSKKV0TFCyja3tEtsJae9Ipe40Al0kypJ+GcFVTypFK3///qyhUAAAAAAAAAAAAAAAAAgBduV3eyk13d0QfC3/bZ/nEmyeF2fU97IsnBdrFJErJnSXKknUuSsjubJCm7J0nMPpUkZnclidknksTsY0li9pEkMftQkpi9L0mMR8WcvSdJzN6VJGa3JYnZO5LE7JYkMXtbkpi9JUnM3pQkZm9IErPXJYnZTUlidkOSmL0mScxelSRmJ5LEOEtyXEtyJMlxE5zjUTHHC5UcSXK8Cc7ZqSQxPmHlSJLj23uOFSo51nHlSJJjAWqOZdo5NjPkSJJjF1aOvYo5dvTmSJKzDySJMR0ixwyVHElyDH/KMSItxyDBHElynjMB9Y4kh7l0TvCFIAd66gcZ/zn6oF5el+Y4F+Qg+9w1JGRfuMsKkSNl9+UI2ZdyhOwrOULkSNnXcoTsGzlC9kCOEDlS9lCOkH0rR8i+kyNEjpQ9kiNk38sRsh/kCJEjZWdyhOxHOULkSNlPcoTsZzlC9oscIXKk7Fc5QvabHCH7XY4QOVL2WI6Q/SFHyP6UI8TZkeLakeLOKsVjYIqXJCleIab43pHia2CKlSQp1lmlWBSaYsl0ig0FKXY/pdgbmGLnbIpt/ilmkqQYoJRivFiK4Xspz5kUKscxLp2jK8dRdl2OlF3IkSJHzM7lSPnfD1LlON5e+TfHmRwJu7bTne6aHAAAAAAAAAAAAAAAAADwgv0FPMG4gCHz+FUAAAAASUVORK5CYII=');
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.react-carousel__test-number{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}

.react-carousel__window-size{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    font-size: 12px;
    padding: 5px 10px;
}


.react-carousel__pagination-group{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.react-carousel__pagination-button{
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #bdbdbd;
    display: inline-block;
    margin: 0 6px;
    cursor: pointer;
    transition: width 0.3s, background-color 0.3s;
    box-shadow: 3px 3px 9px 0 rgb(189 189 189 / 12%);
    opacity: 0.6;
}

.react-carousel__pagination-button[data-active]{
    background-color: #00a3e0;
}


.react-carousel__pagination-content{}



.react-carousel__clone-icon-group{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    display:flex;
    flex-direction: row;
    font-size: 12px;
    color: #fff;
}

.react-carousel__clone-icon{
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAQAAAAHUWYVAAAIeklEQVR42u3dfWhWVRwH8EtKaGqKL+WoxIFMGWTakKn0xwhaKiJZPSmaMpstXY1UfCP/8AkDHZpaLdTWGLMXYbjZVirmZH8435b7IxxqZoovI1FSMzNC4RuR1abPOfftnHPPc5/v9/lze+75nfPh2e5z7rnnOg7DMAzDMAzDMAzDMAzDMAzDMAwTedATj2EkCkK8nsIQ9OFIhqcoQBLtUJXL+BgvoB/HNRhGCY5CRzqQRBbH1x/GLE0YnVA4yl4xemAjTOQgBnC03TlysR/mMo4j7sbRDrPJ5ajbxAFcIIkYZB+iyD6OfGqOZYgqyzj693OMwo3IQG5gFAXuBVmDKLOGAl05uuNUpCCn0J0KnUFekQ7XISzCtFCTi9OwCIekbbxChc4gmyVDVamslUpJK5up0HmoWoUDNVNpOzOF7bRS4f9hysFtwTA1Km+rUdDSbeRkwlA/ikIsRQOaXV6ilCqvqFTYlrzCOpRjLgrSec52Bursm/zDuNAXuTZhepqdk6E7luGMirNRLdWpyDEsxsD0OYVttXd6PPQnpPO0ZGk6cHyo9AvbQuX1LVRaX5XtHLsUf4O+pLzCS4orbLKZY6eGSY1apRXWaqhwva0cb2maZ9qBbCX1ZWOHpgpX2sjxqsapv2toQCWSIV6VaMA1jRXaNhOGgbiATE6rZd9MsBiZHpuuOqI7jmU8yBn0sAdkpmu5p11ns2QzWrrjpbazrkeZYQ/I5y4raUd4PE5VJBwVHqvLQwnaJMepswfkF2GR3/hb1owW4xz1vuobjN2SY9mxhBsFwgK/wyO+j3bFKMcRv3eNIAsdwqNNtgNkrrDAkkDHO2qMY4fXP6Zd6ksKj2fHinqUCwvMC3jEMgMY17AgYHVPCo/ZaAeI6DLUhRDHnIgfNX82QiyNE55xNdsB0qyjPAzE61omK3/HJ3jGxh5bDnL32INQigrU4wguhmK4iCOoRwXeUDHFkcEgls5rE4QgBCEIQQhCEIKwPIIQhOWxxwQhCEEI4rvHSYJE02PRoo6pBImmx/3xU4r+HuVf1Oj6/FKK/g4jSJS9TnZZ7PAtHuc5R9T9zkISVdiDLSjGgzwJZAhCEIYgBGEIQhCGIAQhCEEYghCESXMQPIBCzMZSbMA2T3fXBn3tQQ3KsQDTrdtlzhYQ9MaL+Ax3IriP9xxWIZ8gnWuYhK1a9zLxksNYiUEE+fsu4FrYkrNYgl4ZDIIxqLZuk432iLf+iw7E4i1vmjA640Cw1erNaG6iOKNA8H0a7BBUkTEgabNp066MAFG+96nOlMUeBO+k2dZmU2INItnqxt7kxxYEYzwPwmW0a53LOoDT+M1jLW3oFlcQL18Da5Ew1vdcj48XL4sliGSrtH+zJeiWUKHqcn/Q+Am/G6WlB0ity+5wEWD8V9sKF5LlsQPBJGmHI988DJOl9Z3H4LiBfCHprhUb4uMhKcn8WIHgYfwq3h/OmmtDeRKQ7fECKZJ0Nc+xJigRVnk1XiBfic+sHKsiOeMqjA0IukmuledZBiL+jKyND0ihVfOp8lqzhLUeiA/IbGEnSxzrgoOCWs/EB2SpyMOxMMK9r2/FB2SDaArR0BCPRjGqUY1iL9fKJY937RsXkG2iFR4G+jcVh+9Zf+WyhQYSQpDhcQGJbmVLTcp2awJOghYQJFy7c4RDO4cg5le25EjnpnIIYhqkXgpSTxDTIOflE+oEMbv2q7/r9cn+BDEJkh90NQlB9PRrqCvIUIKY/R9yVcpxlf9DTIPIn6rYQhDTIEVSkCKCmP+mvlc4tHv5TT2auazUz4m/wLms6O5jvH8J3AqXdxBEcw9noAotuIIraEGV+2O6CWJZCEIQghCEIAQhCEEIQhDL2kAvTMJCbEYz6lCJcryGkQSJpA2MxmLsTHnUK/gaLxPEYBvoh/fwh8vlp/2YSxAjbWAWjnu8w/xLDCGI5jaw0dcuDD/4f/YaQfwcKcjGNQmCaGoDTQF3K0kQREMb2B1iA5kEQRS3gYaQe/okCKKwDWxXsM1SgiCK2hDe8KOFhCBu765RuBlZgiAh28CnHob5T5zFwS4PUw1BQhDZOze5DnAHksi6+9u5qAhPQhDx+z5wHdx25N7zntlhSQgietc6/xyO/C5aTyQESf2e1cE4wpMQJNU73g3OEZaEIPf//spwHOFICKKBIwwJQbRwBCchiCaOoCQE0cYRjIQgGjmCkGQCyB5BG22dfieph8M/iWTL5/FxARHO15rg8EuCJcLfyI4LSLmwi0+b4PBHInmGQ8+4gCwQdnG+GQ4/JGgV/Oy648QFZLpwAKpNcXgnwU3BT07GB0R83nLcHIdnEkS6Vt/QVuPnAg6CUo6QJG/HCWSVHRyhSEbECSTfFo7AJG2OEy2I4k2O79k9N0KOgCSrTYGIHxI8Vmk7K+3hCEQywRTIPGEJtUrbGYSz9nD4JqlzTAXjJWXMUdrSEps4fJI8aw6kNy5LClH4SEX08vQQR2McPki2OiaDzdJijmJN+Dtb77ZU6qn7HWhEEkUo0PiagHlYh2bc8FTRWLMghaFWy/6Mw0h6bqsJ6Zf3HdMRTqd5T4fHlkYLZ4pszQHHfDBDQeEePyUoTiuOO3jCiSKoU1D88x7bqkgjkClONJGe/Cr+jAS8lzaKJJ3ogrLQ5TcabU13bv9zNTNKkmTILmzz1doUqzm2YYATffBmqE6s8z0D3GYpx2rHlqDA41elVJnsu7VuKMMJyzC2Gv4a6DpIo7BD93+QLu31wXKXZ+GYS53BOSufn5Nqv9ebw6xZwmDMx3aXx0voTTvWG5tgDzhIw1Dm8fT0PD5CL0WTOGtxAGdwyxDDdZxEM5aqmqszBTMRZUgKX89pabUvhmudXByPbCPL3hiGYRiGYRiGYRiGYRiGYRiGYWKWvwBNdpAMlcMfogAAAABJRU5ErkJggg==');
}

.react-carousel__nav-prev-button, .react-carousel__nav-next-button {
    border: none;
    outline: none;
    color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 99em;
    overflow: hidden;

    position: absolute;
    z-index: 11;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.react-carousel__nav-prev-button > .react-carousel__nav-icon{
    transform: rotate(180deg);
}

.react-carousel__nav-group > .react-carousel__nav-prev-button{
    left: 20px;
}
.react-carousel__nav-group > .react-carousel__nav-next-button{
    right: 20px;
}





.react-carousel__slide-item{
    transition-property: transform;
    position: relative;
}





.react-carousel__container{
    position: relative;
    display: flex;
    flex-direction: row;

    /*flex: 1;*/
    visibility: hidden; /* 避免瞬間移動, 故移動完才改為顯示 */

}


.react-carousel__container[draggable="true"] {
    /*
       To prevent user selecting inside the drag source
      */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.react-carousel__container[data-is-enable-mouse-move="true"] {
    cursor: pointer;
}



.react-carousel__content{
    overflow-x: hidden;
    height: inherit;
    /*flex: 1;*/
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
    /*flex-direction: column;*/
}


.react-carousel__root{
    position: relative;
    /*display: flex;*/
    /*flex-direction: column;*/
    height: inherit;
}
