.bear-react-carousel__root{
    width: 100%;
    position: relative;
    height: var(--carousel-height, inherit);
    aspect-ratio: var(--carousel-aspect-ratio);
    user-select: none;
}


.bear-react-carousel__test-number{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    pointer-events: none;
    overflow: auto;
}


.bear-react-carousel__window-size{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    font-size: 12px;
    padding: 5px 10px;
}


.bear-react-carousel__pagination-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
    text-align: center;
    width: auto;
    z-index: 10;
}

.bear-react-carousel__root[data-touching] .bear-react-carousel__pagination-group{
    pointer-events: none;
}

.bear-react-carousel__pagination-group:not([data-page-content]) .bear-react-carousel__pagination-button{
    width: .5rem;
    height: .5rem;
    border-radius: 7px;
    background-color: #bdbdbd;
    opacity: 0.6;
    box-shadow: 3px 3px 9px 0 rgb(189 189 189 / 12%);
    margin: 0 6px;
}
.bear-react-carousel__pagination-group:not([data-page-content]) .bear-react-carousel__pagination-button[data-active]{
    background-color: var(--primary-color, #00a3e0);
}

.bear-react-carousel__pagination-button{
    position: relative;
    display: inline-grid;
    cursor: pointer;
}


.bear-react-carousel__pagination-content{}



.bear-react-carousel__clone-icon-group{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    display:flex;
    flex-direction: row;
    font-size: 12px;
    color: #fff;
}

.bear-react-carousel__clone-icon{
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100%;
    opacity: .5;
}

.bear-react-carousel__nav-button{
    background-color: rgba(255, 255, 255, .5);
    border-radius: 99em;
    opacity: .6;
    color: #fff;
    border: none;
    outline: none;
}
.bear-react-carousel__nav-prev-button, .bear-react-carousel__nav-next-button {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    z-index: 11;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.bear-react-carousel__root[data-touching] .bear-react-carousel__nav-group{
    pointer-events: none;
}
.bear-react-carousel__root[data-first-page][data-last-page] .bear-react-carousel__pagination-group,
.bear-react-carousel__root[data-first-page] .bear-react-carousel__nav-prev-button,
.bear-react-carousel__root[data-last-page] .bear-react-carousel__nav-next-button{
    opacity: 0;
    pointer-events: none;
}

.bear-react-carousel__nav-group > .bear-react-carousel__nav-prev-button{
    left: 10px;
}
.bear-react-carousel__nav-group > .bear-react-carousel__nav-next-button{
    right: 10px ;
    transform: rotate(180deg);
}


.bear-react-carousel__nav-icon{
    background: no-repeat center;
    background-size: 30px;
    height: 20px;
    width: 20px;
}
.bear-react-carousel__nav-icon:after{
    content: 'く';
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}






.bear-react-carousel__slide-item{
    box-sizing: border-box;
    transition-property: transform;
    position: relative;
    overflow: hidden;

    flex: 0 0 auto;
    width: var(--carousel-slide-width);
    padding-left: calc(var(--carousel-space-between) / 2);
    padding-right: calc(var(--carousel-space-between) / 2);
}

.bear-react-carousel__slide-item__image{
    max-width: 100%;
    max-height: 100%;
    width: 100%; /* fix lazy image */
}

.bear-react-carousel__slide-item__image-preload{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bear-react-carousel__slide-item__card{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




.bear-react-carousel__container{
    position: relative;
    display: flex;
    flex-direction: row;
    height: inherit;
    transition-timing-function: ease;
}




.bear-react-carousel__content{
    top: 0;
    right: 0;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 1;

    overflow: hidden;
    position: var(--carousel-content-position);
}




.bear-react-carousel__root[data-gpu-render] .bear-react-carousel__container{
    will-change: transform;
}

.bear-react-carousel__root[data-mouse-move] .bear-react-carousel__container{
    cursor: pointer;
}
.bear-react-carousel__root[data-debug] .bear-react-carousel__slide-item[data-active]{
    border: 1px solid #f64f4f;
}

.bear-react-carousel__test-number{
    background-color: rgba(0, 0, 0, .5);
}


.bear-react-carousel__root[data-debug] .bear-react-carousel__content:before {
    content: '';
    position: absolute;
    left: calc(50%);
    /*background-color: #a4a4a4;*/
    height: 100%;
    width: 0;
    border-left: 1px dashed #a4a4a4;
    z-index: 50;
    pointer-events: none;
}
