
/* Blatant */
@font-face{
    font-family: 'Blatant';
    font-display: swap;
    src: url('../fonts/blatant/Blatant.otf');
}
@font-face{
    font-family: 'Blatant Bold';
    font-display: swap;
    src: url('../fonts/blatant/Blatant-Bold.otf');
}

